.nav-link{
    font-size: 25px;
    font-family: "Nunito",sans-serif;
}
#logo{
    height: 48px;
    width: 50px;
    border-radius: 10px;
}
#bg-img{
    position: absolute;
    max-width:100%;
    height: 580px;
    background-size: cover;
    transform: translateY(60px);
    background-image: url("img/SukriteendraSocietyBoard.jpg");
    z-index: -1;
}
#bg-img::before{
    content:"";
    background: rgba(255,255,255, 0.3);
    background-position: center;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.img-content{
    visibility: hidden;
    font-family: 'Anton', sans-serif;
    font-size: 26pt;
    z-index:2;
    color: rgb(82, 5, 5); 
    margin-top: 380px; 
    text-shadow: 0 0 3px #fcf6f6, 0 0 5px #ff0055;
}
.Notice{
    margin-top: 580px;
    padding-top: 90px;
    word-wrap: break-word;
}
.Footer{
    color: white;
    background-color: black;
}
.Agenda{
    margin-top: 80px;
}
.adv{
    width: 500px;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
}
h3{
    font-family: 'Architects Daughter', cursive;
  
}
p{
    font-family: "Nunito",sans-serif;
}
.blessings{
    margin: 50px;
}
.swami{
    height: 150px;
    width: 150px;
    padding: 2px;
}
.button{
    animation: shake 3s;
    animation-iteration-count: infinite; 

}
@media only screen and (max-width: 768px) {
    .swami{
       height: 150px;
       width:150px;
   } 
   #bg-img{
       height: 300px;
       transform: translateY(0px);
       background: linear-gradient(orange, brown);
   }
   Address{
       font-size: 10pt;
   }
   .img-content{
       margin-top: 120px;
       visibility: visible;
   }
   .adv{
       width: 100%;
   }
   .Notice{
       margin-top: 240px;
   }
}

@keyframes shake{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(20px);
    }
}